{{!
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<div>
  <header>
    <div>
      <a
        href='/'
        class='btn btn-warning m-4 p-2'
      >Головна</a>
    </div>
    <span class='text-primary'><h1><em
        >{{name}}</em></h1></span>
    <hr />
    <hr />
  </header>
  <main>
    <div>
      <ul>
        {{#each users}}
          <li>
            <span class='text-primary'><h2
              >{{id}}.{{name}}</h2></span>
            <span class='text-dark'><em>{{gender}}, age-{{age}}</em></span>

            <div>
              <span class='text-dark'><h3
                >Friends:</h3></span>
              <ul>
                {{#each friends}}
                  <li>
                    <span class='text-primary'><h3
                      >{{id}}.{{name}}</h3></span>
                    <span class='text-dark'><em>{{gender}},
                        age-{{age}}
                      </em></span>
                    <hr />
                    <ul>
                      {{#each mutual_friends}}
                        <li>
                          <span class='text-primary'><h4
                            >{{id}}.{{name}}</h4></span>
                          <span class='text-dark'><em
                            >{{gender}}, age-{{age}}</em></span>
                          <ul>
                            {{#each mutual_friends}}
                              <li>
                                <span
                                  class='text-primary'
                                ><h4
                                  >{{id}}.{{name}}</h4></span>
                                <span class='text-dark'><em
                                  >{{gender}}, age-{{age}}</em></span>
                              </li>
                            {{/each}}
                          </ul>

                        </li>
                      {{/each}}
                    </ul>
                    <hr />
                    <ul>
                      {{#each groups}}
                        <li>
                          <br />
                          <span class='text-primary'><h4
                            >Group#{{id}}.{{name}}</h4></span>
                          <span class='text-dark'><p
                            >{{description}}</p></span>
                          <div>
                            <ul>
                              <span class='text-dark'><h4
                                >Members</h4></span>
                              {{#each members}}
                                <span
                                  class='text-primary'
                                ><h4
                                  >{{id}}.{{name}}</h4></span>
                                <span class='text-dark'><em
                                  >{{gender}}, age-{{age}}</em></span>
                              {{/each}}
                            </ul>
                          </div>
                        </li>
                      {{/each}}
                    </ul>
                  </li>
                {{/each}}
              </ul>
            </div>
            <hr />
            <div>
              <ul>
                {{#each groups}}
                  <li>
                    <span class='text-primary'><h4
                      >Group#{{id}}.{{name}}</h4></span>
                    <span class='text-dark'><p
                      >{{description}}</p></span>
                    <div>
                      <ul>
                        <span class='text-dark'><h4
                          >Members</h4></span>
                        {{#each members}}
                          <span class='text-primary'><h4
                            >{{id}}.{{name}}</h4></span>
                          <span class='text-dark'><em
                            >{{gender}}, age-{{age}}</em></span>
                        {{/each}}
                      </ul>
                    </div>
                  </li>
                {{/each}}
              </ul>
              <hr />

            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </main>
</div>