{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
<main class="p-4">
    {{#with navigation}}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="nav">
                    {{#each  links}}
                     <div class="nav-item">
                            <a href={{href}} class="nav-link active">{{text}}</a>
                     </div>
                     {{/each}}
                     <a href="/"class="nav-link active">Головна</a>
                </div>

            </div>
        </div>
    </div>
    {{/with}}
    {{#with newsBlock}}
    <h2 class="text-centre">{{title}}</h2>
    
        
        <div class="row">
             <div class="col-3 mb-4">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <span class="ms-0 me-2">
                            {{cards.[0].title}}
                            {{#if cards.[0].isNew}}
                                <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                            {{/if}}
                            {{#if cards.[0].isTop}}
                                <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                            {{/if}}
                        </span>
                     </div>
                     <div class="card-body">
                        <p class="p-2"> {{cards.[0].description}}</p>
                     </div>
                 </div>
            </div>
            <div class="col-3 mb-4">
                <div class="card text-bg-dark">
                     <div class="card-header">
                        <span class="ms-0 me-2">
                            {{cards.[1].title}}
                            {{#if cards.[1].isNew}}
                                <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                            {{/if}}
                            {{#if cards.[1].isTop}}
                                <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                            {{/if}}
                        </span>
                    </div>
                     <div class="card-body">
                        <p class="p-2"> {{cards.[1].description}}</p>
                    </div>
                 </div>
            </div>
            <div class="col-3 mb-4">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <span class="ms-0 me-2">
                            {{cards.[2].title}}
                            {{#if cards.[2].isNew}}
                                <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                            {{/if}}
                            {{#if cards.[2].isTop}}
                                <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                            {{/if}}
                        </span>
                    </div>
                     <div class="card-body">
                        <p class="p-2"> {{cards.[2].description}}</p>
                    </div>
                 </div>
            </div>
            <div class="col-3 mb-4">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <span class="ms-0 me-2 ">
                            {{cards.[3].title}}
                            {{#if cards.[3].isNew}}
                                <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                            {{/if}}
                            {{#if cards.[3].isTop}}
                                <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                            {{/if}}
                        </span>
                    </div>
                     <div class="card-body">
                        <p class="p-2"> {{cards.[3].description}}</p>
                    </div>
                 </div>
            </div>
             <div class="col-3 mb-4">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <span class="ms-0 me-2 ">
                            {{cards.[4].title}}
                            {{#if cards.[4].isNew}}
                                <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                            {{/if}}
                            {{#if cards.[4].isTop}}
                                <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                            {{/if}}
                        </span>
                    </div>
                     <div class="card-body">
                        <p class="p-2"> {{cards.[4].description}}</p>
                    </div>
                 </div>
            </div>
             <div class="col-3 mb-4">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <span class="ms-0 me-2 ">
                            {{cards.[5].title}}
                            {{#if cards.[5].isNew}}
                                <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                            {{/if}}
                            {{#if cards.[5].isTop}}
                                <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                            {{/if}}
                        </span>
                    </div>
                     <div class="card-body">
                        <p class="p-2"> {{cards.[5].description}}</p>
                    </div>
                 </div>
            </div>
             <div class="col-3 mb-4">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <span class="ms-0 me-2 ">
                            {{cards.[6].title}}
                            {{#if cards.[6].isNew}}
                                <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                            {{/if}}
                            {{#if cards.[6].isTop}}
                                <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                            {{/if}}
                        </span>
                    </div>
                     <div class="card-body">
                        <p class="p-2"> {{cards.[6].description}}</p>
                    </div>
                 </div>
            </div>
            <div class="col-3 mb-4">
                <div class="card text-bg-dark">
                    <div class="card-header">
                        <span class="ms-0 me-2 ">
                            {{cards.[7].title}}
                            {{#if cards.[7].isNew}}
                                <span class="badge text-bg-success rounded-pill text-uppercase">New</span>
                            {{/if}}
                            {{#if cards.[7].isTop}}
                                <span class="badge text-bg-danger rounded-pill text-uppercase">Top</span>
                            {{/if}}
                        </span>
                    </div>
                     <div class="card-body">
                        <p class="p-2"> {{cards.[7].description}}</p>
                    </div>
                 </div>
            </div>
         </div>       
        
    {{/with}}
    {{#with goodsBlock}}
       
         <div class="nav nav-tabs mb-5">
                    <div class="nav-item">
                        {{#if tabs.[0].isActive}}
                            <a href="#" class="nav-link active">{{tabs.[0].text}}</a>
                            {{else}}
                                {{#if tabs.[0].isDisabled}}
                                  <a href="#" class="nav-link disabled">{{tabs.[0].text}}</a>
                                {{else}}
                                 <a href="#" class="nav-link">{{tabs.[0].text}}</a>
                                {{/if}}
                            
                        {{/if}}
                     </div>
                     <div class="nav-item">
                        {{#if tabs.[1].isActive}}
                            <a href="#" class="nav-link active">{{tabs.[1].text}}</a>
                            {{else}}
                                {{#if tabs.[1].isDisabled}}
                                  <a href="#" class="nav-link disabled">{{tabs.[1].text}}</a>
                                {{else}}
                                 <a href="#" class="nav-link">{{tabs.[1].text}}</a>
                                {{/if}}
                            
                        {{/if}}
                     </div>
                      <div class="nav-item">
                        {{#if tabs.[2].isActive}}
                            <a href="#" class="nav-link active">{{tabs.[2].text}}</a>
                            {{else}}
                                {{#if tabs.[2].isDisabled}}
                                  <a href="#" class="nav-link disabled">{{tabs.[2].text}}</a>
                                {{else}}
                                 <a href="#" class="nav-link">{{tabs.[2].text}}</a>
                                {{/if}}
                            
                        {{/if}}
                     </div>
                      <div class="nav-item">
                        {{#if tabs.[3].isActive}}
                            <a href="#" class="nav-link active">{{tabs.[3].text}}</a>
                            {{else}}
                                {{#if tabs.[3].isDisabled}}
                                  <a href="#" class="nav-link disabled">{{tabs.[3].text}}</a>
                                {{else}}
                                 <a href="#" class="nav-link">{{tabs.[3].text}}</a>
                                {{/if}}
                            
                        {{/if}}
                     </div>
            </div>

        <div class="row mb-3">
            
            <div class="col-4 mn-2 mb-3">
                <div class="card text-bg-light">
                     <img class="card-img-top" src={{cards.[0].image}} alt="image">
                    <div class="card-body">
                         <span class="card-title ms-0 me-2 ">
                            {{cards.[0].title}}
                            {{#if cards.[0].isHot}}
                                <span class="badge text-bg-warning rounded-pill text-uppercase">Hot</span>
                            {{/if}}
                            {{#if cards.[0].isNew}}
                                <span class="badge text-bg-primary rounded-pill text-uppercase">Нове</span>
                            {{/if}}
                        </span>
                        <p class="p-3">{{cards.[0].description}}</p>
                    </div>       
                </div>
            </div>
            <div class="col-4 mn-2 mb-3">
                <div class="card text-bg-light">
                     <img class="card-img-top" src={{cards.[1].image}} alt="image">
                    <div class="card-body">
                         <span class="card-title ms-0 me-2 ">
                            {{cards.[1].title}}
                            {{#if cards.[1].isHot}}
                                <span class="badge text-bg-warning rounded-pill text-uppercase">Hot</span>
                            {{/if}}
                            {{#if cards.[1].isNew}}
                                <span class="badge text-bg-primary rounded-pill text-uppercase">Нове</span>
                            {{/if}}
                        </span>
                        <p class="p-3">{{cards.[1].description}}</p>
                    </div>       
                </div>
            </div>
            <div class="col-4 mn-2 mb-3">
                <div class="card text-bg-light">
                     <img class="card-img-top" src={{cards.[2].image}} alt="image">
                    <div class="card-body">
                         <span class="card-title ms-0 me-2 ">
                            {{cards.[2].title}}
                            {{#if cards.[0].isHot}}
                                <span class="badge text-bg-warning rounded-pill text-uppercase">Hot</span>
                            {{/if}}
                            {{#if cards.[2].isNew}}
                                <span class="badge text-bg-primary rounded-pill text-uppercase">Нове</span>
                            {{/if}}
                        </span>
                        <p class="p-3">{{cards.[2].description}}</p>
                    </div>       
                </div>
            </div>
            <div class="col-4 mn-2 mb-3">
                <div class="card text-bg-light">
                     <img class="card-img-top" src={{cards.[3].image}} alt="image">
                    <div class="card-body">
                         <span class="card-title ms-0 me-2 ">
                            {{cards.[3].title}}
                            {{#if cards.[3].isHot}}
                                <span class="badge text-bg-warning rounded-pill text-uppercase">Hot</span>
                            {{/if}}
                            {{#if cards.[3].isNew}}
                                <span class="badge text-bg-primary rounded-pill text-uppercase">Нове</span>
                            {{/if}}
                        </span>
                        <p class="p-3">{{cards.[3].description}}</p>
                    </div>       
                </div>
            </div>
            <div class="col-4 mn-2 mb-3">
                <div class="card text-bg-light">
                     <img class="card-img-top" src={{cards.[4].image}} alt="image">
                    <div class="card-body">
                         <span class="card-title ms-0 me-2 ">
                            {{cards.[4].title}}
                            {{#if cards.[4].isHot}}
                                <span class="badge text-bg-warning rounded-pill text-uppercase">Hot</span>
                            {{/if}}
                            {{#if cards.[4].isNew}}
                                <span class="badge text-bg-primary rounded-pill text-uppercase">Нове</span>
                            {{/if}}
                        </span>
                        <p class="p-3">{{cards.[4].description}}</p>
                    </div>       
                </div>
            </div>
            <div class="col-4 mn-2 mb-3">
                <div class="card text-bg-light">
                     <img class="card-img-top" src={{cards.[5].image}} alt="image">
                    <div class="card-body">
                         <span class="card-title ms-0 me-2 ">
                            {{cards.[5].title}}
                            {{#if cards.[5].isHot}}
                                <span class="badge text-bg-warning rounded-pill text-uppercase">Hot</span>
                            {{/if}}
                            {{#if cards.[5].isNew}}
                                <span class="badge text-bg-primary rounded-pill text-uppercase">Нове</span>
                            {{/if}}
                        </span>
                        <p class="p-3">{{cards.[5].description}}</p>
                    </div>       
                </div>
            </div>
        </div>    
    {{/with}}
    {{#with subscribe}}
    <div class="row m-4 p-1">
        <div class="col">
            <div class="card text-bg-dark">
                     <div class="card-header">
                            <h2>{{header}}</h2>
                     </div>
                    <div class="card-body">
                        <p class="p-3">{{description}}</p>
                        {{#each buttons}}
                              <a class="btn btn-primary m-3 p-3" href={{link}}>{{text}}</a>
                            <br>
                        {{/each}}
                    </div>      
        </div>
    </div>

    {{/with}}

    {{#with  service}}
    <div class="row mt-4">
        <div class="col">
            <div class="card text-bg-success">
                <div class="card-header">
                    <h2 class="text-center">{{title}}</h2>
                </div>
                <div class="card-body">
                    <p class="p-3 text-center">{{description}}</p>
                    <div class="text-center">
                        {{#each buttons}}
                              <a class="btn btn-primary" href={{link}}>{{text}}</a>
                            <br>
                        {{/each}}
                     </div>
                </div>      
          </div>
        </div>
    {{/with}}
   <hr>
   <div class="row mt-4">
        <div class="col-2 p-2 m-2">
          <div class="nav flex-column">
                <div class="nav-item my-3 py=2">
                    <a href={{footer.[0].[0].link}} class="nav-link">{{footer.[0].[0].text}}</a>
                 </div>               
                <div class="nav-item my-3 py=2">
                    <a href={{footer.[0].[1].link}} class="nav-link">{{footer.[0].[1].text}}</a>
                </div>                 
                <div class="nav-item my-3 py=2">
                    <a href={{footer.[0].[2].link}} class="nav-link">{{footer.[0].[2].text}}</a>
                </div>           
                 <div class="nav-item my-3 py=2">
                    <a href={{footer.[0].[3].link}} class="nav-link disabled">{{footer.[0].[3].text}}</a>
                </div>
            </div> 
         </div>
         <div class="col-2 p-2 m-2">
            <div class="nav flex-column">
                 <div class="nav-item my-3 py=2">
                    <a href={{footer.[1].[0].[0].link}} class="nav-link">{{footer.[1].[0].text}}</a>
                </div>                
                 <div class="nav-item my-3 py=2">
                     <a href={{footer.[1].[1].link}} class="nav-link">{{footer.[1].[1].text}}</a>
                 </div>             
                <div class="nav-item my-3 py=2">
                     <a href={{footer.[1].[2].link}} class="nav-link">{{footer.[1].[2].text}}</a>
                </div>          
                <div class="nav-item my-3 py=2">
                    <a href={{footer.[1].[3].link}} class="nav-link disabled">{{footer.[1].[3].text}}</a>
                </div>
             </div> 
        </div>
         <div class="col-2 p-2 m-2">
            <div class="nav flex-column">
                 <div class="nav-item my-3 py=2">
                    <a href={{footer.[2].[0].[0].link}} class="nav-link">{{footer.[2].[0].text}}</a>
                </div>
                                
                 <div class="nav-item my-3 py=2">
                     <a href={{footer.[2].[1].link}} class="nav-link">{{footer.[2].[1].text}}</a>
                 </div>
                              
                <div class="nav-item my-3 py=2">
                     <a href={{footer.[2].[2].link}} class="nav-link">{{footer.[2].[2].text}}</a>
                </div>
                           
                <div class="nav-item my-3 py=2">
                    <a href={{footer.[2].[3].link}} class="nav-link disabled">{{footer.[2].[3].text}}</a>
                </div>
             </div> 
        </div>
         <div class="col-2 p-2 m-2">
            <div class="nav flex-column">
                 <div class="nav-item my-3 py=2">
                    <a href={{footer.[3].[0].[0].link}} class="nav-link">{{footer.[3].[0].text}}</a>
                </div>
                                
                 <div class="nav-item my-3 py=2">
                     <a href={{footer.[3].[1].link}} class="nav-link">{{footer.[3].[1].text}}</a>
                 </div>
                              
                <div class="nav-item my-3 py=2">
                     <a href={{footer.[3].[2].link}} class="nav-link">{{footer.[3].[2].text}}</a>
                </div>
                           
                <div class="nav-item my-3 py=2">
                    <a href={{footer.[3].[3].link}} class="nav-link disabled">{{footer.[3].[3].text}}</a>
                </div>
             </div> 
        </div>   
         <div class="col-2 p-2 m-2">
            <div class="nav flex-column">
                 <div class="nav-item my-3 py=2">
                    <a href={{footer.[4].[0].[0].link}} class="nav-link">{{footer.[4].[0].text}}</a>
                </div>
                                
                 <div class="nav-item my-3 py=2">
                     <a href={{footer.[4].[1].link}} class="nav-link">{{footer.[4].[1].text}}</a>
                 </div>
                              
                <div class="nav-item my-3 py=2">
                     <a href={{footer.[4].[2].link}} class="nav-link">{{footer.[4].[2].text}}</a>
                </div>
                           
                <div class="nav-item my-3 py=2">
                    <a href={{footer.[4].[3].link}} class="nav-link disabled">{{footer.[4].[3].text}}</a>
                </div>
             </div> 
        </div>    
     </div>
      
<!--<h1 class="text-center">Hello world</h1>
<h2 class="text-end">Second</h2>
<h3>3 title</h3>
<hr>
<div class="display-1">Hello world</div>
<div class="display-5"> Second</div>
<div class="display-6">3 title</div>
<hr>
<div class="text-muted text-end">Додатковий текст</div>
<hr>
<button class="btn btn-primary">
    <span class="text-uppercase">Test button</span>
</button>
<br>
<br>
<a href="#" class="btn btn-primary">Test2</a>
<br>
<br>
<hr>
<p class="text-secondary">My text</p>
<br>

<hr>
<div class="card">
    <div class="card-body">
       <button class="btn btn-secondary">додати</button>
       <button class="btn btn-outline-secondary">Редагувати</button>
       <button class="btn btn-outline-danger">Видалити</button>
    </div>
</div>
 <div class="row">
    <div class="col-12">
        <div class="nav nav-tabs">
                    <div class="nav-item">
                            <a href="#" class="nav-link active">Main</a>
                     </div>
                    
                    <div class="nav-item">
                            <a href="#" class="nav-link">Catalog</a> 
                    </div>
                    
                    <div class="nav-item">
                            <a href="#" class="nav-link">Shop list</a>  
                    </div>
                </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <div class="nav flex-column">
                    <div class="nav-item">
                        <div class="card">
                            <a href="/summary" class="nav-link">Home page</a>
                        </div>
                    </div>
                    <br>
                    <div class="nav-item">
                        <div class="card">
                            <a href="#" class="nav-link disabled">Catalog</a>
                        </div>
                    </div>
                    <br>
                    <div class="nav-item">
                        <div class="card">
                            <a href="#" class="nav-link">FAQ page</a>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12">
        
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">PC and Laptops</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">Laptops MAC</a>
                    </li>
                </ol>
            </div>
            <div class="col-12">
                 <button class="btn btn-primary rounded-pill m-5">Click!</button>
                <div class="alert alert-primary">
                   <h6>Hello world!<span class="badge text-bg-warning rounded-pill text-uppercase">Топ продаж</span></h6>
                </div>
            
            </div>
        
        </div>
                
    </div>
</div>-->

</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}