<main>
  {{#with navigation}}
    <nav>
      {{#each links}}
        <a class='btn btn-link' href={{href}}>{{text}}</a>
      {{/each}}
      <a
        class='btn btn-primary'
        href={{button.href}}
      >{{button.text}}</a>
      <hr />
    </nav>
  {{/with}}
  <br />

  {{#with header}}
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <a
      class='btn btn-primary'
      href={{button.href}}
    >{{button.text}}</a>
  {{/with}}
  <br />
  <br />
  <hr />
  {{#with city}}
    <div>
      <h2>{{title}}</h2>
      <div class='row col-12'>
        {{#each cards}}
          <div class='col-6 g-5'>
            <div class='card'>
              <img
                src='{{picture.src}}'
                alt='{{picture.alt}}'
              />
              <div class='card-body'>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <a
                  class='btn btn-primary'
                  href='{button.href}}'
                >{{button.text}}</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/with}}
  <br />
  <hr />
  {{#with winner}}
    <h2>{{title}}</h2>
    {{#with table}}
      <table class='table'>
        <thead>
          <tr>
            {{#each head}}
              <th>{{this}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each user}}
            <tr>
              <td>
                {{place}}
              </td>
              <td>
                {{name}}
              </td>
              <td>
                {{surname}}
              </td>
              <td>
                {{nickname}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/with}}
  {{/with}}

  <br />
  <hr />
  {{#with gallery}}
    <h2>{{title}}</h2>
    <div class='row'>
      {{#each cards}}
        <div class='col-4 gy-5'>
          <div class='card'>
            <div class='card-header'>{{name}}</div>
            {{#each items}}
              <ul class='list-group list-group-flush'>
                <li class='list-group-item'>{{this}}</li>
              </ul>
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/with}}
  <br />
  <hr />
  {{#with relaxion}}
  <display-3>{{title}}</display3>
     <div class='row gx-2 gy-4'>
    {{#each cards}}
    <div class='col-6'>
             <div class='card text-bg-secondary'>
            <div class='card-header'>{{header}}</div>
            <hr>
              <div class='card-body'>
                 <h6 class='card-title'>{{title}}</h6>
                <p>{{description}}</p>
                 </div>
             </div>
          </div>
        {{/each}}
    </div>
  {{/with}}
     
  <br />
  <hr />
  {{#with rest}}
   <div class='row gx-2 gy-1'>
    {{#each cards}}
     <div class='col-6'>
      <div class='card text-bg-light'>
        <div class='card-header text-center'>{{header}}</div>
        <div class='card-body text-center'>
          <h6 class='card-title'>{{title}}</h6>
          <p>{{description}}</p>
          <button class='btn btn-primary'>{{button}}</button>
        </div>
        <div class='card-footer text-center'>{{footer}}</div>
      </div>
    </div>
    {{/each}}
   </div>
  {{/with}}
  <br />
  <hr />
  {{#with proposition}}
    <display-2>{{title}}</display-2>
     <div class='row gx-2 gy-1'>
    {{#each card}}
   <div class='col-6'>
      <div class='card text-bg-warning'>
        <div class='card-header'>{{header}}</div>
        <div class='card-body'>
          <h6 class='card-title'>{{title}}</h6>
          <p>{{description}}</p>
        </div>
      </div>
   </div>
       {{/each}}
        </div>
  {{/with}}
  <br />
  <hr />
  {{#with footer}}
    <h5>{{title}}</h5>
    <div class='row'>
    <div class='col-3'>
       {{#each navigation}}
       <div>
       <a class='btn btn-outline-secondary text-info' href={{href}}>{{text}}</a>
       </div>
      {{/each}}
    </div>
     <div class='col-3'>
      {{#each socialMedia}}
       <div>
     <a class='btn btn-outline-dark' href={{link}}>{{name}}</a>
       </div>
      {{/each}}
     </div>
      <div class='col-3'>
      {{#each partners}}
      <div>
     <a class='btn btn-outline-info' href={{link}}>{{name}}</a>
     </div>
      {{/each}}
     </div>
    </div>
    {{/with}}
    </main>