{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    <div>
        <a href="/"class="btn btn-warning">Головна</a>
    </div>

    {{#with main}}
    <main>
        <section>
            {{>title data="Work history" big=true}}
            <div class="card m-4 p-4">
                <ul>

                    {{#each works}}
                    <li>
                        <div>{{position}}</div>
                        <br>
                        <div>{{duration.from}}-{{#if duration.to}}{{duration.to}}{{else}} працює досі{{/if}}</div>
                        <br>
                       {{#if urlOK}}
                        <div>
                            {{>link text=company.name href=company.url}}
                        </div>
                        {{else}}
                        <div><b>{{company.name}}</b></div>
                        {{/if}}
                        <br>
                        <br>
                        <div><strong>Projects:( {{projectAmount}})</strong></div>
                        <br>
                    
                        <ul>
                            {{#each projects}}
                            <li>
                               <div> {{> link text=name href=url}}</div>
                               <br>
                               <div><p>{{about}}</p></div>
                               <br>
                               <div><em>Project stacks ( {{stackAmoGnt}} )</em></div>
                               <br>
                               <ul>
                                {{#each stacks}}
                                <li>{{name}}</li>
                                {{/each}}
                               </ul>
                                <br>
                               <div><em>Project awards ( {{awardAmoGnt}} )</em></div>
                               <br>
                               <ul>
                                {{#each awards}}
                                <li>{{name}}</li>
                                {{/each}}
                               </ul>
                            </li>
                            {{/each}}
                        </ul>
                        <br>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>

    </main>
    {{/with}}

</div>
