<div>
  <img
    class='card-img-top'
    src={{goodsBlock.0.image}}
    alt='img'
  />
</div>
<div>
  <h4>{{goodsBlock.0.name}}</h4>
  <p>{{goodsBlock.0.description}}</p>
</div>
<div>
  {{#with goodsBlock.0.price}}
    <h4>{{title}}</h4>
    <p>{{value}}</p>
  {{/with}}
</div>
<div>
  <p>{{goodsBlock.0.amount}}</p>
</div>
<div>
  {{#each goodsBlock.0.buttons}}
    {{#if isPrimary}}
      <button class='btn btn-primary'>{{text}}</button>
    {{else}}
      {{#if isDanger}}
        <button
          class='btn btn-outline-danger'
        >{{text}}</button>
      {{/if}}
    {{/if}}
  {{/each}}
</div>