{{#each itemList}}
  <div class='row'>
    <div class='col-2'>
      <p>{{number}}</p>
      <h5>{{status}}</h5>
    </div>
    <div class='col-2'>
      {{#with amount}}
        <p>{{title}}</p>
        <p>{{value}}</p>
      {{/with}}
    </div>
    <div class='col-5'>
      <div class='row'>
        {{#each images}}
          <div class='col-4'>
            <img
              class='card-img-top m-3'
              src={{this}}
              alt='img'
            />
          </div>
        {{/each}}
      </div>

    </div>
    <div class='col-3'>
      {{#with button}}
        {{#if isPrimary}}
          <button
            class='btn btn-primary mt-2 me-5'
            href={{link}}
          >
            {{text}}
          </button>
        {{/if}}
      {{/with}}
    </div>
  </div>
{{/each}}