{{#with header}}
    <header>
        <div>
            <h1>{{name.firstname}} {{name.lastname}} | Resume</h1>
        </div>
        <div>
            <b>{{position}}</b>
        </div>
        <br>
        <div>
            <em>
                {{salary}}
            </em>
        </div>
        <br>
        <div>
          <em>
           <address>{{address}}</address>
          </em>
        </div>
        <br>
        <hr>
    </header>
{{/with}}
{{>nav}}   
		 